export DEPLOYER_ADDRESS=<address>
export BLOCKSCOUT_APIKEY=<blockscout API key>
export PRIVATE_KEY=<private key if used>
export LEDGER_HD_PATH="m/44'/60'/0'/0/1"
export USE_LEDGER=<0 for private key, 1 for ledger>
export USE_MAINNET=<1 for mainnet, 0 for testnet>